{% extends "base.html" %}
{% block title %}{{ 'إنشاء حساب' if lang == 'ar' else 'Sign Up' }}{% endblock %}


{% block content %} 
<form method="POST" dir="{{ 'rtl' if lang == 'ar' else 'ltr' }}">
    <h3 class="d-flex justify-content-center">{{ 'إنشاء حساب' if lang == 'ar' else 'Sign Up' }}</h3>
    <div class="form-group">
        <label for="email">{{ 'البريد الإلكتروني' if lang == 'ar' else 'Email Address' }}</label>
        <input 
            type="email" 
            class="form-control" 
            id="email" 
            name="email" 
            placeholder="{{ 'أدخل البريد الإلكتروني' if lang == 'ar' else 'Enter email' }}"
            />
    </div>
    <div class="form-group">
        <label for="firstname">{{ 'الاسم الأول' if lang == 'ar' else 'First Name' }}</label>
        <input 
            type="text" 
            class="form-control" 
            id="firstname" 
            name="firstname" 
            placeholder="{{ 'أدخل الاسم الأول' if lang == 'ar' else 'Enter first name' }}"
            />
    </div>
    <div class="form-group">
        <label for="password1">{{ 'كلمة المرور' if lang == 'ar' else 'Password' }}</label>
        <input 
            type="password" 
            class="form-control" 
            id="password1" 
            name="password1" 
            placeholder="{{ 'أدخل كلمة المرور' if lang == 'ar' else 'Enter password' }}"
            />
    </div>
        <div class="form-group">
        <label for="password2">{{ 'تأكيد كلمة المرور' if lang == 'ar' else 'Password (Confirm)' }}</label>
        <input 
            type="password" 
            class="form-control" 
            id="password2" 
            name="password2" 
            placeholder="{{ 'أعد تأكيد كلمة المرور' if lang == 'ar' else 'Confirm password' }}"
            />
    </div>
    <br />
    <button type="submit" class="btn btn-primary">{{ 'تسجيل' if lang == 'ar' else 'Submit' }}</button>
</form>
{% endblock %}
